<h3>Port: {{port}}</h3>
<h3>HOST: {{host}}</h3>
<h3>Session Time: {{sessionTime}}</h3>
<h3>Email: {{mail}}</h3>
<h3>Database: {{db}}</h3>
<h3>Database URL: {{dbUrl}}</h3>
<h3>Platform: {{platform}}</h3>
<h3>Node Version: {{versionNode}}</h3>
<h3>Total cache memory: {{memory}}</h3>
<h3>Execution path: {{path}}</h3>
<h3>Process ID: {{processId}}</h3>
<h3>Directory: {{dir}}</h3>
